
body{
  border: 15px solid white;
  padding: 2%;
  background-color: #000000;
  color: white;
  background-image:url(https://i.ytimg.com/vi/5OFBTo7c0P0/maxresdefault.jpg), url(https://68.media.tumblr.com/bfbb24afb15caa6c6add0836c4918a17/tumblr_o1kn5ivlJ01smqdb1o1_500.gif);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-attachment: scroll;
  background-size: 900px, auto;
}

img{
  float: right;
  width: 285px;
  height:400px;
  margin-right: 2%;
  border: 20px solid #becce2;
  margin-top: 2%;
  border-radius: 50%;
  margin-bottom: 2%;
}

h1{
  text-align: center;;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  border: 9px solid white;
  border-radius: 20%;
  position: relative;
  border-color: #becce2;
}

h2{
  font-family: 'Alike Angular', sans-serif;
  font-size: 2em;
  padding-top: 2%;
}

h3{
  font-size: 1.6em;
  font-family: 'Alike Angular', serif;
  text-decoration: underline;
}


ul{
  font-size: 1.3em;
  font-family: 'Alike Angular', serif;


}

ol{
  font-size: 1.3em;
  font-family: 'Alike Angular', serif;
}


p{
  font-size: 1.1em;
  font-family: 'Alike Angular', serif;

}

li{
  font-size: 1em;
  font-family: 'Alike Angular', serif;

}
.special{
  color: #becce2;
}

.margins{
  margin: 2px;
  padding: 6px;
}

.head3{
  text-align: left;
  text-decoration: underline;
}
.head2{
  text-align: center;
  text-decoration: underline;
}


div.well{
  background-color: inherit;
  width: 100%;
  border: 3px solid white;
}

.jumbotron{
  background-color: inherit;
}
.blue{
  color: #becce2;
}
.column{
  float: auto;
  text-align:left;
  border: 9px solid white;
  background-color: black;
  margin-right: 950px;
  margin-top: inherit;
}

h4{
  text-align: center;
  text-shadow: 20px;
  color: #becce2;
  text-decoration: underline;
}
.fish{
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
